<p id="notice">
  <%if flash[:notice] %>
    <%= flash[:notice]  %>
  <% end %>
</p>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!--プロフィール-->
      <%= render "users/profile", user: @user %>
      <!--新規投稿-->
      <%= render "books/new", book: @book %>
    </div>
    <div class="offset-md-1 col-md-8">
      <h2>Book detail</h2>
      <table class="table">
        <tr class="book<%= @sbook.id %>">
          <td>
            <%= link_to user_path(@sbook.user) do %>
              <%= attachment_image_tag  @sbook.user, :profile_image, size: "60x60", fallback: "no_image.jpg" %>
              <br><%= @sbook.user.name %>
            <% end %>
          </td>
          <td>
            <%= link_to book_path(@sbook) do %>
              <%= @sbook.title %>
            <% end %>
          </td>
          <td><%= @sbook.body %></td>
          <!--部分更新だからコントローラ→favorites-->
          <td class="favorite-btn">
            <%= render "favorites/favorite-btn", book: @sbook %>
          </td>
          <!--部分更新だからコントローラ→favorites-->
          <td class ="comments-count">コメント数:<%= @sbook.book_comments.count %></td>
          <% if @sbook.user.id == current_user.id %>
          <td><%= link_to "Edit", edit_book_path(@sbook), class:"btn btn-sm btn-success" %></td>
          <td><%= link_to "Destroy", book_path(@sbook), method: :delete, data: { confirm: "本当に消しますか？" }, class:"btn btn-sm btn-danger" %></td>
          <% end %>
        </tr>
      </table>
      <div class="body-comment">
        <%= render "book_comments/index", comments: @comments %>
      </div>
      <div class="new-comment">
        <%= form_with model:[@sbook, @book_comment],  remote: true do |f| %>
          <%= f.text_area :comment, rows:'150', size:"100" %>
          <%= f.submit "送信" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


